a:hover{
    text-decoration: none;
}

ul,li,p,span,input {
    list-style: none;
    font-family:'Hind', sans-serif;
}


h1,h2,h3{
    font-family:'Ubuntu', sans-serif;

}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.02);
    border:none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container__text{
    position: absolute;
    right: 200px;
}
input:focus {
    outline:none;
}
.leftbar__container{
    background-color:#fff;
    position:fixed;
    z-index:2000;
    top:0;
    width:235px;
    height:100vh;
    -webkit-box-shadow: -2px -7px 51px -2px rgba(0,0,0,0.03);
    -moz-box-shadow: -2px -7px 51px -2px rgba(0,0,0,0.03);
    box-shadow: -2px -7px 51px -2px rgba(0,0,0,0.03);
}

.leftbar__logo{
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:35px;
    width:70px;
    height:auto;
}
.leftbar__searchform {
    position: relative;
    margin-bottom: 100px;


}


.leftbar__search-input{
    position:absolute;
    left:0;
    width: 100%;
    border: 1px solid blue;
    border-radius: 80px;
    background-color:transparent;
    text-transform: none;
    padding:2px 0px 2px 10px;

}


.leftbar__search-input::placeholder{
    color: #7976df;
}
.leftbar__avatar{
    display:block;
    margin:0 auto;
    width:35px;
    height:35px;
    border-radius:50%;
    margin-left:0;
    margin-right:20px;
}

.leftbar__user{
 display:flex;
    align-items:center;
    margin-bottom:30px;

}

.leftbar__user a{
    color:#282828;
}

.leftbar__paragraph{
    margin-top:20px;
    margin-bottom:30px;
    color:#282828;
    text-align: left;
    font-size:0.9em;
}

.leftbar__input-form{
    background-color: #4743d6;
    color:white;
    text-transform: uppercase;
    padding:5px 15px 5px 15px;
    border:none;
    font-weight: 600;
    font-style: italic;
    transition:all 400ms;
    margin-bottom:25px;
}

audio{

}

.leftbar__input-form:hover{
    background-color: #6e6ae2;
    color:white;
}

.leftbar__loupe{
    position: absolute;
    right: 7px;
    border: none;
    background: transparent;
    width: 16px;
    height: 16px;
    top: 3px;
    transition:all 400ms ease-in-out;

}


.leftbar__loupe:hover{
    opacity: 0.7;

}


.leftbar__icons{
    width:25px;
    height:25px;
}

.leftbar__ul{
    padding:0;
}
.leftbar__ul a{
    margin-left:25px;
}

.leftbar__ul span{
    margin-left:25px;
}
.leftbar__li{
    padding-top:25px;
}

.leftbar__content{
    position:relative;
    width:80%;
    margin:0 auto;
    height:100vh;
    z-index:3;
}

audio{
    overflow: hidden;
}


.home__nouveautes-hover {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.home__nouveautes-hover a{

margin-bottom:15px;
    margin-left:20px;
    transition:400ms alls;
}

.home__nouveautes-hover a:hover{
    height: 37px;
    width:37px;
    margin-bottom:13px;
opacity:0.9;
}

.home__nouveautes-hover img{
    height: 35px;
    width:35px;
    transition:400ms all;
}

