.user__infos-container{
    margin:0 auto;
    width:300px;

}
.main__container{
    margin-left:235px;
}
.user__name{
    margin-top:0;
    text-transform:capitalize;
    color:white;
    text-align:center;

}

.user__follow{
    display:block;
    width:200px;
    margin:0 auto;
    background-color:#4e72cb;
    border-radius:30px;
    color:white;
    border:none;
    padding:6px 30px;
    text-transform:uppercase;
    transition:400ms all;
}

.user__follow:hover{
    background-color:#56aebc;
    color:white;
   text-decoration: none;
}

.user__h2{
    color:white;
    margin-left:40px;
}

.user__play{
    display: block;
    width:40px;
    height:40px;
    background:#d75a4a;
    font:bold 13px Arial;
    border-radius:50%;
    color:#fff;
    border:2px solid #d75a4a;
    transition:400ms all;
}


.user__play:hover {
    background-color:transparent;

}



.user__play span {
    display: block;
    margin-left: 13px;
    padding-top: 11px;
}

.user__play span:hover {
    color:#d75a4a;
    text-decoration: none;
}
.user__titre{
    color:white;
    transition:400ms all;
}

.user__titres {
    width: 70%;
}

.user__titres-container li::first-letter{
    text-transform: capitalize;
}

.user__delete{
    color:#4a4b53;
    transition:400ms all;
}

.user__titre:hover{
    text-decoration: none;
    color:#4e72cb;
}
.user__titres-container{

    padding-left:0;
display:grid;
    grid-template-columns:0.10fr 0.18fr 0.18fr 0.18fr 0.18fr 0.18fr;
    grid-auto-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items:center;

}

.user__titres-container li{
     display:block;
     margin:0 auto;
 }

.user__titres-container li:first-child{
   display:block;
    margin-left:0;
}

.user__titres-fieldset{
    border-top:1px solid grey;
    width:100%;
    margin-bottom:15px;
}
.user__chanson-img{
    height: 60px;
    width:60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom:10px;
    border-radius: 6px;
}
.user__playlists {
}
.user__playlists-container{
    padding-left:0;
    display:grid;
    grid-template-columns:1fr;
    grid-auto-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width:30%;
    align-items:center;
}

.user__playlist-titre{
    font-size:0.7em;
}

.user__playlist-nbr{
    display:inline-block;
    font-size:0.4em;
}

#all {
    display: flex;
}